<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt >
                <img src="../../assets/arcanine.jpg" alt="IMG">
            </div>

            <form class="login100-form validate-form" [formGroup]="user" (ngSubmit)="regs(this.user.value)">
                <span class="login100-form-title">
                    REGISTER
                </span>

                <div class="wrap-input100 " >
                    <input class="input100" type="text" formControlName="name" placeholder="User Name"
                    name="name" control=""
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-center">
                    <div *ngIf="f.name.errors.required">User Name is required</div>
                </div>
                </div>

                <!-- <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div> -->
                
             

                <!-- <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div> -->

                <!-- <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div> -->
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" >
                        Register
                    </button>
                    <div  *ngIf="this.response==false" ><p class="err text-center">* User Already Exist</p></div>
                    <div  *ngIf="this.response==true" ><p class="sucs text-center">Success</p></div>

                </div>
            </form>
           
        </div>
    </div>
</div>