<div class="row">
    <div class="col-md-6  ">
        <h3>USERS</h3>
        <div  class="wrap-login100">
            <div *ngFor="let use of this.users;let i=index">
                <input name="checkboxName" id="checkbox1" type="checkbox" 
                (change)="selectuser($event,use,i)">
                {{use.name}}
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <h3>MEMBERS</h3>
        <div  class="wrap-login100">
            <div class="btns">
                <button class="btn btn-success" (click)="done()">save</button>
            </div>
        <div *ngFor="let use of this.selectsuser;let i=index">
            <p>{{use.name}}</p>
        </div>
        
    </div>
</div>
</div>

