.wrap-login100 {
    // width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    // margin-left: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    // display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding: 33px 130px 33px 95px;
    // text-align: center;
    font-size: x-large;
    height: 550px;
  }
  .btns{
    // margin-top: 435px;
    margin-left: 399px;
  }