<div class="wrap-login100">
    <div>
        <h1>CREATE YOUR PROJECT</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form  (ngSubmit)="submit()" [formGroup]="title">
                <input class="form-control" placeholder="Project Title" formControlName="projectname"><br>
                <button class="btn btn-primary">submit</button>
            </form>
         
        </div>
        <div class="col-md-3">
        </div>
    </div>
   
</div>