<div class="row">
  <div class="col-md-3">
        
  </div>
    <div class="col-md-6">
<h1 class="text-center">Project List</h1>
<table class="table">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Created by</th>
        <!-- <th scope="col">I.D</th> -->
        <th scope="col">add</th>
        <th scope="col">chat</th>

      </tr>
    </thead>
    <tbody class="text-center">
      <tr  *ngFor="let pro of response;let i=index">
        <td>{{ pro.projectname }}</td>
        <td>{{ pro.createdby }}</td>
        <!-- <td>{{ pro._id }}</td> -->
        <td> <a (click)="group(pro,i)" ><i class="fa fas fa-users"></i></a></td>
        <td><a (click)="chat()"><i class="fa fas fa-comments"></i></a></td>
      </tr>
     
    </tbody>
  </table>
  
  
    </div>
    <div class="col-md-3">
        
    </div>
</div>