// .addButton {
//     margin-top:50px;
//     outline: none;
//     left: 0;
//     bottom: 0;
//     text-align: center;
//     // position: fixed;
//     width: 100%;
//     /* height: 100px; */
//     background-color: gold;
//     /* border-top-left-radius: 50%; */
//     /* border-top-right-radius: 50%; */
//     border: 10px solid gray;
//     border-bottom: 0;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     color: gray;
//     font-size: -webkit-xxx-large;
//     font-weight: bold;
// }

.box{
    width: 100%;
}






.note {
    background-color: rgb(255, 240, 70);
    min-height: 100px;
    padding: 10px;
    margin:10px;
    // width: 100px;
    // -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.close {
   left: -14px;
    // top: -18px;
    position: relative;
    cursor:pointer;
    text-align: right;
    font-size: smaller
}

.content {
    outline: none;
    // height: 100px;
    overflow-y: auto;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #EEEEEE;
    font-family: 'Roboto', sans-serif
}

.card {
    width: 300px;
    border: none;
    border-radius: 15px;
    position: relative;
}

.adiv {
    background: #04CB28;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px
}

.chat {
    border: none;
    background: #E2FFE8;
    font-size: 10px;
    border-radius: 20px
}

.bg-white {
    border: 1px solid #E7E7E9;
    font-size: 10px;
    border-radius: 20px
}

.myvideo img {
    border-radius: 20px
}

.dot {
    font-weight: bold
}

.form-control {
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    font-size: 8px
}

.form-control:focus {
    box-shadow: none
}

.form-control::placeholder {
    font-size: 8px;
    color: #C4C4C4
}
