<div class="sidebar-container">
    <div class="sidebar-logo">
      Project Name
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a routerLink="createproject">
          <i class="fa fa-home" aria-hidden="true"></i> Create project
        </a>
      </li>
      <li>
        <a routerLink="createproject/display">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Project List
        </a>
      </li>
      <li class="header">Another Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Friends
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fa fa-info-circle" aria-hidden="true"></i>logout
        </a>
      </li>
    </ul>
  </div>
  
  <div class="content-container">
  
    <div class="container-fluid">
  
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <router-outlet></router-outlet>
      </div>
  
    </div>
  </div>